.user_container {
    border: 1px solid white;
    border-radius: 15px;
    padding: 0 15px;
    margin: 15px 0;

    .user_container_title {
        color: #bbc846;
        font-weight: 200;
        margin: 5px;
    }
    
    .user_container_description {
        color: #9a9ca1;
    }
}