.chip {
    color: white;
    display: inline-block;
    background: gray;
    padding: 4px 12px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: 700;
    margin: 5px 5px;
    cursor: pointer;
    box-shadow: 3px 2px 3px #111;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: var(--green-color);
        color: black;
    }
}