.home {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .home_title {
        color: white;
    }

    .home_title_green {
        color: #bbc846;
    }

    .home_input_text {
        padding: 12px 20px;
        font-size: 1rem;
        border-width: calc(var(--border-width) * 1px);
        border-style: solid;
        border-color: var(--accent);
        border-radius: calc(var(--border-radius) * 1px);
        text-align: center;
        outline: transparent;
        transition: border-color calc(var(--transition, 0.2) * 1s) ease;
    }

    .home_button {
        display: block;
        background-color: #bbc846;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 10px auto;
        cursor: pointer;
    }
}