<div *ngIf="user">
    <div class="container">
        <app-profile-image [imageSrc]="user.person.pictureThumbnail"></app-profile-image>
        <h2>{{user.person.name}}</h2>
        <h2>{{user.person.professionalHeadline}}</h2>
        <h3>Skills and interests</h3>
        <app-chip-container title="expert" [strengths]="expert"></app-chip-container>
        <app-chip-container title="proficient" [strengths]="proficient"></app-chip-container>
        <app-chip-container title="novice" [strengths]="novice"></app-chip-container>
        <app-chip-container title="no-experience-interested" [strengths]="noExperienceInterested"></app-chip-container>
    </div>
</div>